.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  width: auto;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #5e6674;
  border: 2px solid #ffffff;
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}


#man-01{
  margin-top: 123px !important;
}

#man-02{
  margin-left: 0px;
  margin-top: -1px;
}

#funcionalidades-empresa{
  margin-top: -4px;
}

div#inicio.row {
  top: 70px !important;
  position: relative;

}

div#inicio {
  padding-bottom: 40px;


}

div#inicio.row #contenido > h3 {
  float: left;
  width: 100%;


}

.content-navbar .nav {
    /*
    margin-left: 130px; */
    margin-left: 0px;
}

.container #inicio #boton #botondos {

  top: -20;

}


#imagen{
    /*
  margin-top: 0; */
margin-top: -33px;
  }

#imagen p{
    line-height: 40px;
  }

#inicio + #funcionalidades-empresa {
  margin-top: 69px;

}

.ie7-config-tc{
    padding-bottom: 8px;
}

